<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Weather<span class="gradient">Now!</span></ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="weatherData" (click)="goBackToHomePage()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Retour</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [(ngModel)]="paletteToggle" (click)="toggleChange()">
        <ion-icon name="sunny"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="weatherBg" class="home-page">
    <div class="rain-effect"></div>
    <div *ngIf="!weatherData" class="welcome-page">
      <div class="up-section">
        <h1 class="title">Bienvenue sur Weather<span class="gradient">Now!</span></h1>
        <p>Consultez les prévisions météo de votre ville préférée en un clic !</p>
      </div>
      <div class="down-section">
        <div class="search-module">
          <button (click)="getLocation()" [disabled]="searching" class="geo-button">
            <ion-icon name="navigate-outline"></ion-icon>
          </button>
          <div class="search-bar">
            <input type="text" placeholder="Entrez le nom d'une ville" [(ngModel)]="city"
              (keydown.enter)="searchWeather()" [disabled]="searching"/>
            <button (click)="searchWeather()" [disabled]="searching" class="search-button">
              <span *ngIf="!searching" class="button-label">
                <ion-icon name="search-outline"></ion-icon>
                <span>Rechercher</span>
              </span>
              <span *ngIf="searching" class="spinner">
                <ion-spinner name="crescent"></ion-spinner>
              </span>
            </button>
          </div>
        </div>

        <ion-list *ngIf="searchHistory.length > 0" class="search-history {{searching ? 'hidden' : ''}}">
          <ion-chip *ngFor="let city of searchHistory" (click)="selectCity(city)" [disabled]="searching" color="light">
            <ion-label>{{ city }}</ion-label>
            <button class="delete-btn" (click)="removeCity($event, city)" [disabled]="searching">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-chip>
        </ion-list>

        <ion-button class="clear-history {{searching ? 'hidden' : ''}}" *ngIf="searchHistory.length > 0" (click)="clearHistory()" [disabled]="searching">
          <ion-label>Effacer l'historique</ion-label>
        </ion-button>
      </div>
    </div>


    <div *ngIf="weatherData" class="weather-container">
      <div class="weather-title">
        <img [src]="'https://openweathermap.org/img/wn/' + weatherData.icon + '@4x.png'" [alt]="weatherData.description"
          class="weather-icon" />
        <span>
          {{ weatherData.name }}, {{ weatherData.country }}
        </span>
      </div>

      <div class="temperature">
        <ion-icon name="thermometer-outline"></ion-icon>
        <span>Température actuelle : {{ weatherData.temperature | number:
          '1.0-0' }}°{{unit === 'metric' ? 'C' : 'F'}}</span>
      </div>
      <p *ngIf="!isMobile" class="feels-like">
        Ressenti : {{ weatherData.feels_like | number: '1.0-0' }}°{{unit === 'metric' ? 'C' : 'F'}}
      </p>
      <button *ngIf="isMobile" class="toggle-unit" (click)="toggleUnit()">Basculer en degrés {{ unit === 'metric' ? 'Fahrenheit (F°)' :
        'Celsius (C°)'
        }}</button>

      <div *ngIf="!isMobile" class="details">
        <div class="card">
          <div class="label">Pluie (1h)</div>
          <div class="detail">
            <ion-icon name="rainy-outline"></ion-icon>
            <span>{{ weatherData.rain }} mm</span>
          </div>
        </div>
        <div class="card">
          <div class="label">Vent</div>
          <div class="detail">
            <ion-icon name="leaf-outline"></ion-icon>
            <span>{{ weatherData.wind.speed }} {{unit === 'metric' ?
              'm/s' : 'mph'}}, direction {{ weatherData.wind.deg }}°</span>
          </div>
        </div>
        <div class="card">
          <div class="label">Couverture nuageuse</div>
          <div class="detail">
            <ion-icon name="cloud-outline"></ion-icon>
            <span>{{ weatherData.clouds }}%</span>
          </div>
        </div>
        <div class="card">
          <div class="label">Humidité</div>
          <div class="detail">
            <ion-icon name="water-outline"></ion-icon>
            <span>{{ weatherData.humidity }}%</span>
          </div>
        </div>
        <div class="card">
          <div class="label">Visibilité</div>
          <div class="detail">
            <ion-icon name="eye-outline"></ion-icon>
            <span>{{ weatherData.visibility / 1000 }} km</span>
          </div>
        </div>
        <div class="card">
          <div class="label">Pression</div>
          <div class="detail">
            <ion-icon name="speedometer-outline"></ion-icon>
            <span>{{ weatherData.pressure }} hPa</span>
          </div>
        </div>
      </div>

      <div *ngIf="isMobile" class="details">
        <div class="card">
          <div class="label">
            <ion-icon name="rainy-outline"></ion-icon>
          </div>
          <span>{{ weatherData.rain }} <span class="unit">mm</span></span>
        </div>
        <div class="card">
          <div class="label">
            <ion-icon name="leaf-outline"></ion-icon>
          </div>
          <span>{{ weatherData.wind.speed }} <span class="unit">{{unit === 'metric' ?
              'm/s' : 'mph'}}</span></span>
        </div>
        <div class="card">
          <div class="label"><ion-icon name="cloud-outline"></ion-icon></div>
          <span>{{ weatherData.clouds }}<span class="unit">%</span></span>
        </div>
        <div class="card">
          <div class="label"><ion-icon name="water-outline"></ion-icon></div>
          <span>{{ weatherData.humidity }}<span class="unit">%</span></span>
        </div>
        <div class="card">
          <div class="label"><ion-icon name="eye-outline"></ion-icon></div>
          <span>{{ weatherData.visibility / 1000 }} <span class="unit">km</span></span>
        </div>
        <div class="card">
          <div class="label"><ion-icon name="speedometer-outline"></ion-icon></div>
          <span>{{ weatherData.pressure }} <span class="unit">hPa</span></span>
        </div>
      </div>

      <div class="sunrise-sunset">
        <div>
          <ion-icon name="sunny"></ion-icon>
          <ion-icon name="arrow-up"></ion-icon>
          <span>{{ weatherData.sunrise * 1000 | date: 'HH:mm' }}</span>
        </div>
        <div>
          <ion-icon name="sunny"></ion-icon>
          <ion-icon name="arrow-down"></ion-icon>
          <span>{{ weatherData.sunset * 1000 | date: 'HH:mm' }}</span>
        </div>
      </div>

      <button *ngIf="!isMobile" class="toggle-unit" (click)="toggleUnit()">Basculer en degrés {{ unit === 'metric' ? 'Fahrenheit (F°)' :
        'Celsius (C°)'
        }}</button>
    </div>
    <ion-toast [isOpen]="!!errorMessage" message="{{errorMessage}}" [duration]="3000" icon="alert-outline" (didDismiss)="errorMessage = ''"></ion-toast>
  </div>

</ion-content>